* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* navbar */

.navbar {
  display: flex;
  align-items: center;
  padding: 31px 83px;
  height: 94px;
  background-color: #000;
  color: whitesmoke;
}
.logo img{
     height: 32px;
     width: 94px;
}
.line {
     width: 1px;
     height: 50px;
     background-color: #fff;
     margin-left: 63px;
   }
.list {
 display: flex;
 align-items: center;
 gap: 63px;
list-style: none;
}
.list :nth-child(1){
     margin-left: 5rem;
}
.small-button{
     background: #ba0cc5;
     padding: 10px 40px;
     margin-left: 30rem;
     border: none;
     border-radius: 5px;
     color: white;
     font-size: 16px;
}
body{
     background-image: url("../assets/bg.png");
}
/* main */

main h1{
font-style: normal;
color: #ffffff;
font-weight: 700;
font-size: 80px;
line-height: 98px;
text-align: center;
padding-top: 172px;
max-width: 946px;
margin: auto;
}
main p{
     color: #ffffff;
     font-size: 1.9rem;
     font-weight: 500;
     text-align: center;
     padding-top: 10px;
}
.big-button{
  background: #ba0cc5;
  border-radius: 11.2308px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 29.9487px;
  line-height: 45px;
  color: #ffffff;
  border: none;
  padding: 14px 22px;
  margin-top: 64px;
  cursor: pointer;
  margin-left: 37rem;
}